<!doctype html>
<html lang="en" ng-app="AtivosModulo">
<head>
	<meta charset="utf-8" />
	<!--link rel="apple-touch-icon" sizes="76x76" href="assets/img/logo.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/logo.png"-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>ATIVOS</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">

</head>
<body ng-controller="AtivosController">

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    KOBE
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="ti-user"></i>
                        <p>Usuários</p>
                    </a>
                </li>
                <li class="active">
                    <a href="table.html">
                        <i class="ti-view-list-alt"></i>
                        <p>Ativos</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="ti-text"></i>
                        <p>Menu A</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="ti-pencil-alt2"></i>
                        <p>Menu B</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="ti-map"></i>
                        <p>Menu C</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Ativos</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
						<li>
                            <a href="#">
								<i class="ti-settings"></i>
								<p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 text-right">
                                <button class="btn-add-ativo btn btn-info btn-fill btn-wd" ng-click="home.adicionarAtivo()"> Adicionar Novo Ativo </button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Ativos</h4>
                            </div>
                            <div class="content">
                               
                               <table class="table">
								  <thead>
								    <tr>
								      <th scope="col">ID</th>
                                      <th scope="col">Manutenção</th>
								      <th scope="col">Descrição</th>
								      <th scope="col">Fabricante</th>
								      <th scope="col">Valor Compra</th>
								      <th scope="col">Valor Depreciado</th>
								      <th scope="col"> Editar </th>
								      <th scope="col"> Remover </th>
                                      <th scope="col"> Manutenção </th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-repeat="obj in home.ativos">
								      <th scope="row"> {{ obj.id }} </th>
                                      <th scope="row"> {{ home.dicionarioManutencao(obj.idStatus) }} </th>
								      <td>{{ obj.descricao }}</td>
								      <td>{{ obj.fabricante }}</td>
								      <td>{{ obj.vlCompra  | currency : "R$"}}</td>
								      <td>{{ obj.vlDepreciado  | currency : "R$"}}</td>
								      <td>
								      	<button class="btn btn-info btn-fill btn-sm" ng-click="home.view(obj)">Editar</button>
								      </td>
								      <td>
								      	<button class="btn btn-danger btn-fill btn-sm" ng-click="home.viewRemove(obj)" data-toggle="modal" data-target="#modalRemove">Remover</button>
								      </td>
                                      <td>
                                        <button class="btn btn-info btn-fill btn-sm" ng-click="home.viewManutencao(obj)" data-toggle="modal" data-target="#modalMAnutencao">Manutenção</button>
                                      </td>
								    </tr>
								  </tbody>
								</table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Remover -->
        <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="modalRemove">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Remover Ativo </h4>
              </div>
              <div class="modal-body">
                <p> Você deseja remover o ativo {{home.objetoModal.descricao}}? </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="home.excluirAtivo(home.objetoModal)" >Sim</button>
              </div>
            </div>
          </div>
        </div>

		<!-- Modal Manutenção -->
		<div class="modal fade" id="modalMAnutencao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Manutenção Ativo</h4>
		      </div>
		      <div class="modal-body">
                <p ng-if=" home.objetoModal.idStatus != 2 "> Você deseja Adicionar esse ativo em Manutenção? </p>
                <p ng-if=" home.objetoModal.idStatus == 2 "> Você deseja Concluir a Manutenção deste ativo? </p>

                <span> Descrição do Ativo: {{home.objetoModal.descricao}} </span> <br>            
                <span> ID Status: {{ home.objetoModal.idStatus }} </span> <br>
                <span> Fabricante: {{ home.objetoModal.fabricante }} </span> <br>
                <span> Valor Compra: {{ home.objetoModal.vlCompra | currency : "R$" }} </span> <br>
                <span> Valor Depreciado: {{ home.objetoModal.vlDepreciado | currency : "R$" }} </span> <br>
                <div class="form-group">
                    <label>Descrição</label>
                    <textarea ng-model="home.observacao" ng-readonly="home.objetoModal.idStatus == 2" rows="5" class="form-control border-input" placeholder="Escreva a Descrição da Manutenção..."></textarea>
                </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-if=" home.objetoModal.idStatus != 2 " ng-click="home.cadastrarManutencao()">Adicionar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-if=" home.objetoModal.idStatus == 2 ">Concluir</button>
		      </div>
		    </div>
		  </div>
		</div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="#">
                                GuaranIT
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Github
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Termos
                            </a>
                        </li>
                    </ul>
                </nav>
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="#">GuaranaIT</a>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

</html>
